* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}
#home {
    width: 100%;
    /* height: 150%; */
    background: linear-gradient(180deg, #0f0d46, #0b082e, #05041a);
    color: white;
    position: relative;
}

#hero {
    /* height: 100%; */
    width: 100%;
    /* border: 2px solid red; */
    padding: 0vw 5vw;
}

/* description */

#description{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 2vw 0;
    width: 100%;
    /* border: 2px solid pink; */
}

#description p{
    margin-top: 10px;
}

.sub-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.line{
    width: 0.2vw;
    background: white;
}
#line1{
    height: 0vw;
}
#line2{
    height: 0vw;
}

.sub-desc-head{
    width: 35%;
    align-self: flex-start;
}

.sub-desc-description{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 60%;
}

.thr-desc-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thr-desc{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
/* abyss ceature */
#abyss-creture {
    height: 80vh;
    width: 100%;
    /* border: 2px solid yellow; */
    position: relative;
    margin: 2vw 0 0 0;
}

.creature-img-para {
    background: linear-gradient(90deg, #100C48, #161168, #1F1B9C);
    height: 65%;
    width: 18%;
    position: absolute;
    left: 40%;
    top: 15%;
    overflow: hidden;
    border-radius: 5%;
    transition: 2s all ease-in-out;
}

.c-img {
    /* border: 2px solid rgb(0, 255, 8); */
    height: 100%;
    width: 100%;
    border-radius: 5%;
    object-fit: contain;
    object-position: top;
}

.c-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-para {
    font-size: 1vw;
    position: absolute;
    bottom: -70%;
    left: 0;
    padding: 1.5vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #0000007a;
    border-radius: 5%;
    transition: 1s all ease-in-out;
}

.creature-img-para:hover .c-para {
    bottom: 0%;
    transition: 1s all ease-in-out;
}

#c-img-para1 {
    transform: rotate(325deg);
}

#c-img-para2 {
    transform: rotate(335deg);
}

#c-img-para3 {
    transform: rotate(345deg);
}

#c-img-para4 {
    transform: rotate(0deg);
}

/* abyss tshirt */
#abyss-tshirt {
    height: 48%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid tomato; */
}

#shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200%;
    gap: 3vw;
    color: white;
}

.tshirt-img-para {
    height: 20vw;
    width: 20vw;
    background-color: #cacae387;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.tshirt-img-para img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top center;
}

.t-para {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -18%;
    left: 0;
    background-color: rgb(23 28 82 / 58%);
    padding: 0.5vw;
    transition: 1s all ease-out;
    border-radius: 5%;
    font-weight: 600;
}

.t-para h2 {
    margin-bottom: 0.5vw;
}

.tshirt-img-para:hover .t-para {
    bottom: 0;
    transition: 1s all ease-out;
}

.demo {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0e0830, #09072b, #040312);
}

#about-tshirt {
    color: white;
    padding: 2vw;
}

#about-tshirt h2 {
    font-size: 2.5vw;
}

#t-para{
    font-size: 20px;
}

#t-img-para9{
    display: flex;
    justify-content: center;
    align-items: center;
}

#t-img-para9 h3{
    border-radius: 10%;
    background-color: rgba(0, 255, 255, 0.499);
    cursor: pointer;
    font-size: 2.5vw;
    padding: 1vw 2vw;
    text-wrap: nowrap;
}

#t-img-para9 h3:hover{
    background-color: rgba(0, 255, 255, 0.663);
    transition: all .5s ease-in;
}

#t-img-para9{
    height: fit-content;
    width: fit-content;
}